.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 200px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 10px;
}

/*
#
# Modal Bottom Sheet
#
#
*/

.main-content {
  padding: 20px;
  text-align: center;
}

/* Modal Bottom Sheet Styles */
.modal-sheet {
  position: fixed;
  bottom: -75%;
  left: 0;
  width: 100%;
  background-color: rgb(214, 55, 55);
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.2);
  transition: bottom 0.3s ease-in-out;
  height: 90%; /* Adjust this to control the size */
  border-radius: 20px 20px 0 0;
  z-index: 100;
  pointer-events: auto;
}

.modal-sheet .range-input {
  pointer-events: none;
}

.sheet-content {
  padding: 20px;
}

.sheet-content h2 {
  margin-top: 0;
}

/* Close button */
.close-sheet {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Setting item styles */
.setting-item {
  margin: 20px 0;
}

/* Open state */
.modal-sheet.show {
  bottom: 0;
}

.containerArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 15px 15px 0 0;
}

#arrow {
  transform: rotate(-90deg);
  width: 35px;
  height: 35px;
  margin: auto;
}

/*
#
# End Modal Bottom Sheet
#
#
*/